* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar {
    height: 1000px;
    background-color: #FCF4A3;
}

.sidebar img {
    width: 100px;
    height: 100px;
}

.sidebar li a {
    line-height: 45px;
    color: #964B00;
    text-decoration: none;
    padding: 0 20px;
    display: block;
}

.sidebar li:hover a {
    background-color: #964B00;
    color: #FCF4A3;
}


table{
    text-align: center;
}
td{
    padding: 10px;
}
tr.item{
    border-top: 1px solid #5e5e5e;
    border-bottom: 1px solid #5e5e5e;
}

tr.item:hover{
    background-color: #d9edf7;
}

tr.item td{
    min-width: 150px;
}

tr.header{
    font-weight: bold;
}

a{
    text-decoration: none;
}
a:hover{
    color: deeppink;
    font-weight: bold;
}